 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/LINE_ALBUM_862022_220608_518.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1386px;
}

.u-section-1 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 55px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: normal;
  font-size: 1.25rem;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 143px 0 171px;
}

.u-section-1 .u-image-1 {
  width: 640px;
  height: 932px;
  margin: 280px -175px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 618px;
  height: 852px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -1164px auto 0;
}

.u-section-1 .u-text-3 {
  text-align: start;
  font-size: 2.25rem;
  margin: 41px auto 0;
}

.u-section-1 .u-countdown-1 {
  margin: 33px auto 0 347px;
}

.u-section-1 .u-countdown-item-1 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-1 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-1 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-1 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-2 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-2 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-2 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-2 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-3 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-3 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-3 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-3 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-4 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-4 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-4 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-4 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-5 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-5 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-5 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-countdown-separator-5 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-item-6 {
  padding-top: 0;
}

.u-section-1 .u-countdown-counter-6 {
  font-size: 4.5rem;
  letter-spacing: 2px;
  font-weight: 700;
  line-height: 1;
}

.u-section-1 .u-countdown-label-6 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1rem;
}

.u-section-1 .u-image-3 {
  width: 535px;
  height: 713px;
  margin: -624px auto 0 -155px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1391px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 57px;
    margin-right: 57px;
  }

  .u-section-1 .u-image-1 {
    width: 611px;
    height: 399px;
    margin-top: 818px;
    margin-right: -183px;
  }

  .u-section-1 .u-image-2 {
    transition-duration: 0.5s;
    margin-top: -1194px;
    margin-right: 144px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 57px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 34px;
    margin-left: auto;
    padding: 0;
  }

  .u-section-1 .u-countdown-counter-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-3 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-3 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-4 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-4 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-5 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-separator-5 {
    font-size: 3rem;
  }

  .u-section-1 .u-countdown-counter-6 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-3 {
    width: 489px;
    height: 652px;
    margin-top: -530px;
    margin-bottom: 4px;
    margin-left: -149px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1187px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 50px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 414px;
    height: 586px;
    margin-top: 440px;
    margin-right: -137px;
  }

  .u-section-1 .u-image-2 {
    width: 414px;
    height: 586px;
    margin-top: -979px;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 46px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 28px;
  }

  .u-section-1 .u-image-3 {
    width: 392px;
    height: 523px;
    margin-top: -328px;
    margin-bottom: 0;
    margin-left: -120px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1264px;
  }

  .u-section-1 .u-image-1 {
    width: 269px;
    height: 403px;
    margin-top: 712px;
    margin-right: -97px;
  }

  .u-section-1 .u-image-2 {
    height: 766px;
    margin-top: -1098px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 27px;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 22px;
  }

  .u-section-1 .u-countdown-counter-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-label-1 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-countdown-separator-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-counter-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-label-2 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-countdown-separator-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-counter-3 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-label-3 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-countdown-separator-3 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-counter-4 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-label-4 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-countdown-separator-4 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-counter-5 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-label-5 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-countdown-separator-5 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-counter-6 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-countdown-label-6 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-image-3 {
    width: 284px;
    height: 420px;
    margin-top: -246px;
    margin-left: -93px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 818px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 51px;
  }

  .u-section-1 .u-text-2 {
    font-weight: 700;
    font-size: 0.875rem;
  }

  .u-section-1 .u-image-1 {
    width: 194px;
    height: 291px;
    margin-top: -420px;
  }

  .u-section-1 .u-image-2 {
    height: 479px;
    margin-top: 29px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-3 {
    margin-top: 43px;
    margin-left: 18px;
    margin-right: 18px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-countdown-1 {
    margin-top: 18px;
  }

  .u-section-1 .u-countdown-counter-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-separator-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-counter-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-separator-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-counter-3 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-separator-3 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-counter-4 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-separator-4 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-counter-5 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-separator-5 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-countdown-counter-6 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-3 {
    width: 216px;
    height: 319px;
    margin-top: 13px;
    margin-bottom: 60px;
    margin-left: -108px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/LINE_ALBUM_862022_220608_302.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 977px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: 34px 446px 0 -109px;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  margin: 27px 617px 60px -279px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 806px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 237px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 238px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 26px;
    margin-right: 127px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 26px;
    margin-right: 128px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    width: auto;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 292px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 36px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1824px;
}

.u-section-3 .u-text-1 {
  margin: 40px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 34px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 307px;
  height: auto;
  min-height: 468px;
  margin: 34px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
  min-height: 468px;
  grid-auto-columns: 100%;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  height: 286px;
  margin: 33px auto 0;
}

.u-section-3 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 1px 0;
}

.u-section-3 .u-text-4 {
  margin: 20px 1px 0;
}

.u-section-3 .u-list-2 {
  grid-template-rows: auto;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  min-height: 1188px;
}

.u-section-3 .u-repeater-2 {
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 0px 0px;
  min-height: 1188px;
  grid-auto-columns: 25%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  height: 247px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  margin: 20px 1px 0;
}

.u-section-3 .u-text-6 {
  margin: 20px 1px 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-image-3 {
  height: 247px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-7 {
  margin: 20px 1px 0;
}

.u-section-3 .u-text-8 {
  margin: 20px 1px 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-image-4 {
  height: 247px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-9 {
  margin: 20px 1px 0;
}

.u-section-3 .u-text-10 {
  margin: 20px 1px 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-image-5 {
  height: 247px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-11 {
  margin: 20px 1px 0;
}

.u-section-3 .u-text-12 {
  margin: 20px 1px 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-image-6 {
  height: 247px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-13 {
  margin: 20px 1px 0;
}

.u-section-3 .u-text-14 {
  margin: 20px 1px 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

.u-section-3 .u-image-7 {
  height: 247px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-15 {
  margin: 20px 1px 0;
}

.u-section-3 .u-text-16 {
  margin: 20px 1px 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 30px;
}

.u-section-3 .u-image-8 {
  height: 247px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-17 {
  margin: 20px 1px 0;
}

.u-section-3 .u-text-18 {
  margin: 20px 1px 0;
}

.u-section-3 .u-container-layout-9 {
  padding: 30px;
}

.u-section-3 .u-image-9 {
  height: 247px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-19 {
  margin: 20px 1px 0;
}

.u-section-3 .u-text-20 {
  margin: 20px 1px 0;
}

.u-section-3 .u-container-layout-10 {
  padding: 30px;
}

.u-section-3 .u-image-10 {
  height: 247px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-21 {
  margin: 20px 1px 0;
}

.u-section-3 .u-text-22 {
  margin: 20px 1px 0;
}

.u-section-3 .u-container-layout-11 {
  padding: 30px;
}

.u-section-3 .u-image-11 {
  height: 247px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-23 {
  margin: 20px 1px 0;
}

.u-section-3 .u-text-24 {
  margin: 20px 1px 0;
}

.u-section-3 .u-container-layout-12 {
  padding: 30px;
}

.u-section-3 .u-image-12 {
  height: 247px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-25 {
  margin: 20px 1px 0;
}

.u-section-3 .u-text-26 {
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1616px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-list-2 {
    margin-bottom: 30px;
    min-height: 980px;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: repeat(4, 25%);
    min-height: 980px;
  }

  .u-section-3 .u-image-2 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-5 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-6 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-7 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-8 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-9 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-10 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-21 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-22 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-11 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-23 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-24 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-12 {
    height: 192px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-25 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-26 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 3639px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 13px;
  }

  .u-section-3 .u-list-2 {
    margin-top: 20px;
    margin-bottom: 0;
    min-height: 3003px;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: repeat(2, 50%);
    min-height: 3003px;
    grid-auto-columns: 50%;
  }

  .u-section-3 .u-image-2 {
    height: 329px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 329px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    height: 329px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-5 {
    height: 329px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-6 {
    height: 329px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-7 {
    height: 329px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-8 {
    height: 329px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-9 {
    height: 329px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-10 {
    height: 329px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-11 {
    height: 329px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-12 {
    height: 329px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 8570px;
  }

  .u-section-3 .u-list-1 {
    width: 352px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 589px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 332px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-list-2 {
    width: 424px;
    margin-top: -7px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: 100%;
    min-height: 7841px;
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 21px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-2 {
    height: 570px;
    margin-top: 3px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 21px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-3 {
    height: 570px;
    margin-top: 3px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-4 {
    padding-top: 21px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-4 {
    height: 570px;
    margin-top: 3px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-5 {
    padding-top: 21px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-5 {
    height: 570px;
    margin-top: 3px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-6 {
    padding-top: 21px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-6 {
    height: 570px;
    margin-top: 3px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-7 {
    padding-top: 21px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-7 {
    height: 570px;
    margin-top: 3px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-8 {
    padding-top: 21px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-8 {
    height: 570px;
    margin-top: 3px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-9 {
    padding-top: 21px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-9 {
    height: 570px;
    margin-top: 3px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-10 {
    padding-top: 21px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-10 {
    height: 570px;
    margin-top: 3px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-11 {
    padding-top: 21px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-11 {
    height: 570px;
    margin-top: 3px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-12 {
    padding-top: 21px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-12 {
    height: 570px;
    margin-top: 3px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
    margin-top: 26px;
  }

  .u-section-3 .u-image-1 {
    height: 320px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-list-2 {
    margin-top: 20px;
    width: 340px;
  }

  .u-section-3 .u-image-2 {
    height: 452px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-3 {
    height: 452px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-4 {
    height: 452px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-5 {
    height: 452px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-6 {
    height: 452px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-7 {
    height: 452px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-8 {
    height: 452px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-9 {
    height: 452px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-10 {
    height: 452px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-11 {
    height: 452px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-12 {
    height: 452px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1518px;
}

.u-section-4 .u-text-1 {
  margin: 19px auto 0;
}

.u-section-4 .u-text-2 {
  width: 746px;
  margin: 17px auto 0;
}

.u-section-4 .u-gallery-1 {
  height: 298px;
  grid-gap: 17px 17px;
  width: 345px;
  margin: 0 auto;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto;
  grid-gap: 17px 17px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  padding: 90px;
}

.u-section-4 .u-gallery-2 {
  height: 1120px;
  grid-gap: 17px 17px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-gallery-inner-2 {
  grid-template-columns: auto auto auto;
  grid-gap: 0px 0px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1322px;
  }

  .u-section-4 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-4 .u-gallery-2 {
    height: 924px;
  }

  .u-section-4 .u-gallery-inner-2 {
    grid-template-columns: repeat(3, auto);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1990px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-gallery-2 {
    height: 1592px;
  }

  .u-section-4 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 4801px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-gallery-2 {
    height: 4378px;
  }

  .u-section-4 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 3163px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-gallery-1 {
    height: 294px;
    width: 340px;
  }

  .u-section-4 .u-gallery-2 {
    height: 2757px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 934px;
}

.u-section-5 .u-text-1 {
  width: 454px;
  margin: 45px auto 0;
}

.u-section-5 .u-gallery-1 {
  height: 745px;
  grid-gap: 17px 17px;
  margin-top: 60px;
  margin-bottom: 45px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 41px;
}

.u-section-5 .u-back-slide-1 {
  background-image: none;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 803px;
  }

  .u-section-5 .u-gallery-1 {
    height: 614px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1247px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1058px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3363px;
  }

  .u-section-5 .u-gallery-1 {
    height: 3174px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2187px;
  }

  .u-section-5 .u-text-1 {
    width: 340px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1998px;
  }
} .u-section-6 {
  background-image: url("images/DisneyXLMuralsDisneyPrincessScrollCastleXLSizedWallpaper.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 606px;
}

.u-section-6 .u-group-1 {
  width: 800px;
  min-height: 494px;
  background-image: none;
  height: auto;
  margin: 62px auto 51px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0 60px;
}

.u-section-6 .u-text-1 {
  font-size: 4.5rem;
  margin: 34px auto 0;
}

.u-section-6 .u-image-1 {
  width: 233px;
  height: 233px;
  margin: 18px auto 0;
}

.u-section-6 .u-social-icons-1 {
  white-space: nowrap;
  height: 48px;
  min-height: 16px;
  width: 48px;
  min-width: 16px;
  margin: 18px auto 0;
}

.u-section-6 .u-icon-1 {
  color: rgb(197, 54, 164) !important;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 500px;
  }

  .u-section-6 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 383px;
  }

  .u-section-6 .u-group-1 {
    width: 720px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 181px;
  }

  .u-section-6 .u-group-1 {
    width: 340px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
  }
}